/* responsive settings for max-width 900px */
@media only screen and (max-width:920px) {
    .home {
        flex-direction: column;
    }

    .home_left {
        width: 100%;
    }

    .home_right {
        width: 100%;
    }

    .home_right img {
        height: 60%;
    }

    .skills_main {
        width: 100%;
        height: auto;
    }

    .project-lower {
        width: 100%;
    }

    .project-items {
        width: 70%;
    }
    .contact_heading_box{
        font-size: 2.3rem;
        width: 75px;
        height: 75px;
        padding-top: 12px; 
        margin: 70px 13px;
    }
    #contact_heading::before{
        height: 300px;
    }
    #contact_heading{
        height: 300px;
    }
    .footer-address ,.footer-menu,.footer-menu2{
        width: 100%;

    }
    .footer-address ,.footer-menu {
        margin-left: 0px;
    }
    .footer-menu2 {
        margin-top: -25px;
    }
}

/* responsive settings for max-width 600px */
@media only screen and (max-width:600px) {
    .nav_mid {
        display: none;
    }

    .navbar {
        justify-content: end;
    }

    #bar {
        display: block;
    }

    .animated_text {
        font-size: 35px;
    }

    .home_right img {
        width: 80%;
        height: 40%;
    }

    .about_left {
        width: 100%;
    }

    .about_links a {
        margin: 5px;
    }
    .skills_heading{
        width: 100%;
        padding: 10px;
    }
    .skills_heading h4{
        width: 350px;
    }
    .skills-bottom {
        padding-left: 10px;

    }

    .about_left h4 {
        font-size: 1.1rem;
        width: 353px;
    }

    form {
        width: 96%;
    }
    .contact_heading_box{
        font-size: 1.5rem;
        width: 55px;
        height: 55px;
        padding-top: 12px; 
        margin: 70px 5px;
        border:2px solid grey;
        font-weight: bold;
    }
    #contact_heading::before{
        height: 250px;
    }
    #contact_heading{
        height: 250px;
    }
    .footer-links {
        width: 90%;
    }
    .footer-strip{
        width: 90%;
    }
}

@media only screen and (max-width:450px) {

    .contact_heading_box{
        font-size: 1.3rem;
        width: 40px;
        height: 40px;
        padding-top: 6px; 
        margin: 70px 3px;
        border:2px solid grey;
        font-weight: bold;
    }
 
}