* {
    margin: 0;
    padding: 0;
    font-family: var(--themeFont);
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bgColor);
}


/* header styling */
header {
    position: sticky;
    top: 0px;
    transition: all 0.5s;
    z-index: 2;
}

.navbar {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 10px;
    width: 100%;
    transition: all 1s;
}


.navbar_links {
    margin: 5px;
}


header a {
    letter-spacing: 2px;
    padding: 7px;
    text-decoration: none;
    font-family: 'Gilda Display', serif;
    color: var(--fontBlack);
    font-weight: bolder;
    font-size: 1.1rem;
    transition: all 0.5s;
    text-transform: uppercase;

}
header a:hover {
    color: var(--fontColor2);
}

#bar {
    display: none;
}


/* home styling */
.home {
    position: relative;
    top: -65px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    z-index: 1;
    color: var(--fontBlack);

}

.home_left {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 641px;
    background-color: var(--themeColor);
}


.home-link {
    margin: 70px 0px 80px 0;
    /* border-radius: 5px; */
    padding: 10px 25px;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.9rem;
    letter-spacing: 2px;
    transition: all 0.5s;
    border: 1px solid grey;
    /* background-color: var(--themeColor2); */
    color: white;
}

.home-link:hover {
    background-color: var(--themeColor);
    background-color: rgb(254, 222, 199);
    color:var(--fontBlack);
}


.home_mid {
    width: 70px;
    height: 70px;
    margin-bottom: 50px;
    transform: rotate(45deg);
    animation-name: midRotate;
    animation-duration: 2.5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    transition: all 1s ease-in;
    border-radius: 5px;
    background-color: var(--themeColor);
}

@keyframes midRotate {
    from {
        transform: rotate(45deg);
        box-shadow: 0px;
    }

    to {
        transform: rotate(135deg);
        box-shadow: 1px 1px 15px var(--bgColor);
    }
}

.home_right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 641px;
    /* background-color: var(--themeColor2); */
}

.home_right img {
    width: 62%;
    height: 50%;
    outline: 2px solid grey;
    outline-offset: 10px;
}


/* about section styling */
/* .about::before {
    position:absolute;
    content: "";
    top: 570px;

    opacity:0.8;
    width: 100%;
    height:130vh;
    z-index: -2;
} */

.about {
    position: relative;
    top: -65px;
    display: flex;
    justify-content: center;
    padding: 120px 0px 0px 0px;
    height: auto;
    background-image: url('../images/aboutBg1.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position-y: -80px;

}

.about_left {
    width: 70%;
    height: auto;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
}

.about_left h3 {
    text-transform: uppercase;
    margin-bottom: 10px;
    padding: 15px 15px;
    font-size: 2.3rem;
    color: white;
    width: 225px;
    background-color: var(--themeColor);
    border-left: 7px solid var(--fontColor);
}

.about_left h4 {
    color: var(--themeColor);
    width: auto;
    padding: 3px 0px;
    border: 2px solid var(--themeColor);
    border-left: 0;
    border-right: 0;
    
}

.about_text {
    margin: 30px 0px;
    padding: 35px 0px;
    color: var(--fontColor);
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1.5;
    border-radius: 10px;
    text-align: left;

}

.about_links {
    margin-bottom: 20px;
    text-align: center;
}

.about_links a {
    margin-right: 20px;
    border: 2px solid var(--fontColor);
    padding: 10px 15px;
    color: black;
    transition: all 1s;
    font-weight: bolder;
    text-decoration: none;
}

.about_links a:hover {
    background-color: var(--fontColor);
    color: white;
}

/* skills section*/
.skills_heading {
    width: 69%;
    margin: auto;
    padding-top: 100px;
}

.skills_heading h3 {
    text-transform: uppercase;
    margin-bottom: 10px;
    padding: 10px 25px;
    font-size: 2.1rem;
    color: white;
    width: 170px;
    /* border-radius: 50px 0px 50px 0px; */
    border-left: 7px solid var(--fontColor);
    background-color: var(--themeColor);
}

.skills_heading h4 {
    color: var(--themeColor);
    width: 405px;
    padding: 3px 0px;
    border: 2px solid var(--themeColor);
    border-left: 0;
    border-right: 0;
}

.skills {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.skills_main {
    width: 80%;
    margin: 70px 0px;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.skills_item {
    width: 250px;
    height: 290px;
    margin: 20px 25px;
    text-align: center;
    box-shadow: 1px 1px 5px var(--fontColor);
    transition: all 1s;
}

.skills_item:hover {
    box-shadow: 0px 1px 5px var(--themeColor);
    transform: scale(1.1);

}

.skills i {
    padding: 20px;
    font-size: 60px;
    color: var(--themeColor);
}

.skills_item h4 {
    margin-bottom: 10px;
    color: var(--themeColor);
}

.skills_item p {
    color: var(--fontBlack);
    text-align: left;
    padding: 5px 20px;
}

.skills-bottom {
    margin-bottom: 100px;
    text-align: center;

}

/* project section */
.project-upper {
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--themeColor);
    color: white;
}

.project-upper h5 {
    letter-spacing: 5px;
}
/* .project-lower::before {
    position:absolute;
    content: "";
    top: 2646px;
    
    opacity:0.8;
    width: 100%;
    height:1200px;
    z-index: -2;
} */
.project-lower {
    display: flex;
    align-items:center;
    flex-direction:column;
    height: auto;
    width: 100%;
    padding: 20px 0px;
}

.project-items {
    margin: 50px;
    width:50%;
    height: 210px;
    border: 3px solid var(--themeColor);
    transition: all 1s;
}

.project-items:hover {
    background-color: var(--themeColor);


}

.project-items a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 30px;
    text-decoration: none;
    color: var(--fontBlack);
    font-weight: bolder;

}

.project-items a:hover {
    color: white;
    /* color: var(--themeColor); */
}



/* contact section */


#contact_heading::before{
    content: "";
    background-color:var(--themeColor);
    background-repeat: no-repeat;
    background-size:contain;
    position: absolute;
    height: 370px;
    width: 100%;
    z-index: -1;
    opacity: 1;
}
#contact_heading{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 370px;
}
.contact_heading_box{
    color: var(--fontColor);
    color: var(--fontBlack);
    font-size: 3rem;
    font-weight: bolder;
    /* z-index: 2; */
    border:5px solid grey;
    width: 110px;
    height: 110px;
    margin: 70px 20px;
    text-align: center; 
    padding-top: 22px;   /* padding: 50px 50px; */

}
.contact_p {
    font-size: 15px;
    color: black;
    width: 100%;
    border: 1px solid black;
    padding: 8px 55px;
    text-align: right;
    font-weight: bold;
    /* padding: 3px; */
}

.contact {
    
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: white; */
}

.contactBox {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    height: auto;
    margin-top: 30px;
}

.contactItems {
    display: flex;
    margin-top: 30px;
    align-items: center;
}

.contactItems span {
    background-color: rgb(224, 220, 220);
    background-color: var(--bgColor);
    border-radius: 20%;
    font-size: 50px;
    color: rgb(58, 57, 57);
}

.contactItems p {
    margin-left: 20px;
    font-size: 20px;
    color: grey;
    font-weight: bold;
}



form {
    margin-top: 50px;
    width: 70%;
}

form input, textarea {
    padding: 15px 20px;
    font-size: 1rem;
    margin-bottom: 42px;
    border: 1px solid silver;
}

.formItem_1 {
    display: flex;
    justify-content: space-between;
}

.formItem_1 input {
    width: 46%;
}

.formItem_2 input {
    width: 100%;
}

.formItem_3 textarea {
    width: 100%;
}

.formItem_4 {
    text-align: center;

}

.formItem_4 input {
    background-color: var(--bgColor);
    width: 150px;
}

/* footer section */
footer {
    width: 100%;
    height: auto;
    padding: 50px 0px 10px 0px;
    background-color: var(--themeColor2);
    border-top: 0px;
    
}

.footer-links {
    margin: auto;
    height: auto;
    width: 70%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.footer-address ,.footer-menu,.footer-menu2 {
    margin-left: 30px;
    width: 30%;
    font-size: 16px;
    margin-bottom: 30px;
}
.footer-menu h4,.footer-address h4{
    margin: 20px 0px;
    font-family:gilda display;
    color: var(--fontColor2);
    letter-spacing: 2px;
    text-transform: uppercase;
}

.footer-menu li,.footer-menu2 li{
    padding: 10px 0px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: var(--themeFont);
    color: silver;

}
.footer-menu2 {
    margin-top: 70px;
}
.footer-address li{
    padding: 10px 0px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: var(--themeFont);
    text-transform: lowercase;
    color: grey;
}

.footer-icon {
    padding-top: 15px;
    display: flex;
    align-items: center;
    
}
.footer-icon p{
    color: var(--fontColor2);
    text-transform: capitalize;
    font-family: gilda display;
    font-size: 20px;

}

.footer-icon i {
    margin-left: 15px;
    font-size: 17px;
    color: silver;

}
.footer-strip{
    font-family:'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    color: grey;
    padding: 25px 0px;
    letter-spacing: 2px;
    text-align: center;
    border-top: 1px solid grey;
    width: 70%;
    margin: auto;

}