:root {
    --bgColor: white;

    --themeFont: 'Ubuntu', sans-serif;

    --fontBlack: rgb(51, 47, 36);
    --fontColor:#0a1364;

    --themeColor:#798EA4;
    --themeColor2: #939597;

    

    --themeColor1: #ff8952;
    --themeColor4: #FDAC53;
    --fontColor2: grey;

    --themeColor3: rgb(207, 233, 247);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.8rem;

}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}